{% extends "baseCab.html" %} {% load staticfiles %} {% load mathematiks %} {% block title %}
    <title>Stock Trade</title>
{% endblock title %}
{% block external %}
    <link rel="stylesheet" href="{% static "css/tstyle.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-table.min.css" %}">
    <script type="text/javascript" src="{% static "js/bootstrap-table.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-table-contextmenu.min.js" %}"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="{% static "js/rmenu.js" %}"></script>
    <script>

    function time()
    {
        var _time = document.getElementById('timeClock').innerHTML.split(":");
        var hour = Number(_time[0]);
        var minute = Number(_time[1]);
        var seconds = Number(_time[2]);

        if(seconds >= 59)
        {
            seconds = seconds - 59;
            if(minute >= 59)
            {
                minute = minute - 59;
                if(hour >= 23)
                {
                    hour = hour - 23;
                }
                else hour++;
            }
            else minute++;
        }
        else seconds++;

        var zeroHour = ''; var zeroMin = ''; var zeroSecond = '';
        if (hour < 10) {
            zeroHour = 0;
            //if (hour != 0) hour = hour.replace('0', '');
        }
        if (minute < 10) {
            zeroMin = '0';
            //if (minute != '0') minute = minute.replace('0', '');
        }
        if(seconds < 10) {
            zeroSecond = '0';
            //if (seconds != 0) seconds = seconds.replace('0', '');
        }

        document.getElementById('timeClock').innerHTML = zeroHour + hour + ":" + zeroMin + minute + ":" + zeroSecond + seconds;
    }


    window.onload = function() {setInterval(time, 1000);};

    </script>
{% endblock external %}
{% block content %}

<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="javascript:void(0)" style="padding: 0px" class="navbar-brand">
        <img src="{% static "img/logo-n.png" %}">
    </a>
    <p class="hidden-xs">Trade Stock Like A Pro</p>
  </div>

  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'cab:index' %}">Trading platform</a></li>
        <li class="action"><a href="{% url 'cab:history' %}">History</a></li>
        <li><a href="{% url 'cab:FAQ' %}">FAQ</a></li>
        <li><a href="{% url 'Users:logout' %}">Logout</a></li>
        <li><a style="color: #08ce08;" href="{% url 'cab:resetPassword' %}">Balance: {{ request.user.balance }} $</a></li>
        <li><a style="color: #F9DA1A;" href="javascript:void(0)">London: <span id="timeClock">{% now 'H:i:s' %}</span> AM</a></li>
    </ul>
  </div>
</nav>


<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <h3>Total: {{total}}</h3>
        </div>
        
        <div class="col-sm-12">
            <div class="companytable-wrapper">
                <table id="companyTable" data-classes="table table-hover" data-search="true" data-pagination="true" data-page-size=10>
                    <thead class="companytable">
                        <tr>
                            <th>#</th>
                            <th>Open Date</th>
                            <th>Share name</th>
                            <th>Closed Date</th>
                            <th>Take Profit</th>
                            <th>Stop Loss</th>
                            <th>Gain</th>
                            <th>Profit / Loss ($)</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in historyList %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.created_at|date:'Y-m-d H:i:s' }}</td>
                                <td>{{ i.company.name }}</td>
                                <td>{{ i.closed_at|date:'Y-m-d H:i:s' }}</td>
                                <td>{{ i.take_profit }}</td>
                                <td>{{ i.stop_loss }}</td>
                                <td>{{ i.price|deleabs:i.amount|gain:i.company.sharePrice }}</td>
                                <td>{{ i.company.sharePrice|minus:i.price|deleabs:i.amount }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        
    </div>
</div>

{% endblock content %}
