{% extends "baseCab.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load mathematiks %}
{% block title %}
    <title>Stock Trade</title>
{% endblock title %}
{% block external %}
    <link rel="stylesheet" href="{% static "css/tstyle.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-table.min.css" %}">
    <script type="text/javascript" src="{% static "js/bootstrap-table.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-table-contextmenu.min.js" %}"></script>
    <script src="{% static "js/stock/highstock.js" %}"></script>
    <script src="{% static "js/stock/highcharts-more.js" %}"></script>
    <script src="{% static "js/stock/modules/exporting.js" %}"></script>
    <script type="text/javascript" src="{% static "js/rmenu.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chart.js" %}"></script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
    <script>

    // o'clock
    function time()
    {
        var _time = document.getElementById('timeClock').innerHTML.split(":");
        var hour = Number(_time[0]);
        var minute = Number(_time[1]);
        var seconds = Number(_time[2]);

        if(seconds >= 59)
        {
            seconds = seconds - 59;
            if(minute >= 59)
            {
                minute = minute - 59;
                if(hour >= 23)
                {
                    hour = hour - 23;
                }
                else hour++;
            }
            else minute++;
        }
        else seconds++;

        var zeroHour = ''; var zeroMin = ''; var zeroSecond = '';
        if (hour < 10) {
            zeroHour = 0;
            //if (hour != 0) hour = hour.replace('0', '');
        }
        if (minute < 10) {
            zeroMin = '0';
            //if (minute != '0') minute = minute.replace('0', '');
        }
        if(seconds < 10) {
            zeroSecond = '0';
            //if (seconds != 0) seconds = seconds.replace('0', '');
        }

        document.getElementById('timeClock').innerHTML = zeroHour + hour + ":" + zeroMin + minute + ":" + zeroSecond + seconds;
    }
    window.onload = function() {setInterval(time, 1000);};
    // end o'clock

    // buy shares

    </script>
{% endblock external %}
{% block content %}

<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="javascript:void(0)" style="padding: 0px" class="navbar-brand">
        <img src="{% static "img/logo-n.png" %}">
    </a>
    <!-- <p class="hidden-xs">Trade Stock Like A Pro</p> -->
  </div>

  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="action"><a href="{% url 'cab:index' %}">Trading platform</a></li>
        <li><a href="{% url 'cab:history' %}">History</a></li>
        <li><a href="{% url 'cab:FAQ' %}">FAQ</a></li>
        <li><a href="{% url 'Users:logout' %}">Logout</a></li>
        <!-- <li><a style="color: #08ce08;" href="{% url 'cab:resetPassword' %}">Balance: {{ request.user.balance }} $</a></li> -->
        <li><a style="color: #08ce08;" href="{% url 'cab:resetPassword' %}">My Balance: {{ request.user.balance }} $</a></li>
        <li><a style="color: #F9DA1A;" href="javascript:void(0)">London: <span id="timeClock">{% now 'H:i:s' %}</span> AM</a></li>
    </ul>
  </div>
</nav>


<div class="container-fluid">
    <div class="row news-RSS">
        <div class="col-sm-12">

        </div>
    </div>

    <div class="row">
        <div class="col-md-3 comps">
            <div class="companytable-wrapper">
                    <table id="companyTable" data-classes="table table-hover" data-search="true" data-pagination="true" data-page-size=10>
                        <thead class="companytable">
                            <tr>
                                <th data-field="companyname" class="col-xs-5">Company</th>
                                <th data-field="bid" class="col-xs-3">Bid</th>
                                <th data-field="ask" class="col-xs-2">Ask</th>
                                <th data-field="" class="col-xs-2">
                                    <i style="padding-bottom: 5px" class="fa fa-arrow-up color-green"></i><i class="fa fa-arrow-down color-red"></i>
                                </th>
                                <th data-field="pk" class="hidden"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in company %}
                            <tr id=company-tr-{{i.id}}>
                                <td class="">{{ i.name }}</td>
                                <td class='sharePrice'>
                                    {{ i.currentSharePrice }}
                                </td>
                                {% if i.currentSharePrice >= i.sharePrice %}
                                    <td class="color-red askSharePrice">{{ i.currentSharePrice|one }}</td>
                                {% else %}
                                    <td class="color-green askSharePrice">{{ i.currentSharePrice|one }}</td>
                                {% endif %}
                                <td>
                                    {% if i.currentSharePrice >= i.sharePrice %}
                                        <i class="fa fa-arrow-up color-green"></i>
                                    {% else %}
                                        <i class="fa fa-arrow-down color-red"></i>
                                    {% endif %}
                                </td>
                                <td class="hidden">{{ i.id }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <ul id="companytable-context-menu" class="dropdown-menu">
                        {% if request.user.rightUser == 'std' %}
                            <li data-item="buy"><a>Buy</a></li>
                        {% endif %}
                        <li data-item="chart"><a>View Chart</a></li>
                        <li data-item="news"><a>Load Company  News</a></li>
                        <li data-item="information"><a>Company Portfolio</a></li>
                    </ul>
            </div>

           
        </div>
        <div class="col-md-9">
            <div class="currencypanel-wrapper">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title chart-companies">Companies Chart</h3>

                    </div>

                    <div class="panel-body fixed-panel company-chart" style="overflow: hidden;">
                        <ul class="nav nav-tabs" style="display: none">
                          <li style="width: 50%;text-align: center;" class="active"><a data-toggle="tab" href="#companyChartContainer">Chart one</a></li>
                          <li style="width: 50%;text-align: center;"><a data-toggle="tab" href="#companyChartContainer2">Chart two</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="companyChartContainer" class="tab-pane fade in active"></div>
                            <div id="companyChartContainer2" class="tab-pane fade"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title news-title">Market News</h3>
                </div>
                <div class="panel panel-body news-body" style="max-height: 30vh; overflow-y: auto">
                    {% for newsItem in news %}
                        <p>{{ newsItem.date|date:'Y-m-d H:i:s' }} : {{ newsItem.head }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Company Portfolio </h3>
                </div>
                <div class="panel-body CompanyPortfolioTable">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <!-- <p data-id="1">Company Name: {{defaultCompany.name}}</p> -->
                            <p data-id="1">Listing Name: {{defaultCompany.name}}</p>
                            <p data-id="2">Current Share Price: {{defaultCompany.currentSharePrice}}</p>
                            <p data-id="3">Total Shares Amount: {{defaultCompany.totalSharesAmount}}</p>
                            <p data-id="4">Total Shares Sold:  {{defaultCompany.totalSharesSold}}</p>

                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p data-id="5">Total Shares Value: {{defaultCompany.currentSharePrice|umng:defaultCompany.totalSharesSold}}</p>
                            <p data-id="6">Share Price: {{defaultCompany.sharePrice}}</p>
                            <p data-id="8">Current Share Profit (%): {{defaultCompany.sharePrice|gain:defaultCompany.currentSharePrice}}</p>
                            <p data-id="7"></p>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Active trades information</h3>
                </div>
                <div class="panel-body">
                    <table class="HistoryTable" data-classes="table table-hover" data-search="true" data-pagination="true" data-page-size=10>
                        <thead class="companytable">
                            <tr>
                                <th>#</th>
                                <th>Open Date</th>
                                <th>Share name</th>
                                <th>Take Profit</th>
                                <th>Stop Loss</th>
                                <th>Price</th>
                                <th>Type</th>
                                <th>Profit / Loss ($)</th>
                                <th>Shares Amount</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                {% if order.amount != 0 %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.created_at|date:'Y-m-d H:i:s' }}</td>
                                    <td>{{ order.company.name }}</td>
                                    <td>{{ order.take_profit }}</td>
                                    <td>{{ order.stop_loss }}</td>
                                    <td>{{ order.price }}</td>
                                    <td>{{ order.order_type|lower }}</td>
                                    <td>{{ order|profit }}</td>
                                    <td>{{ order.amount }}</td>
                                    <td>{{ order|totalamount }}</td>
                                    <td class="text-center">
                                        {% if user == order.user %}
                                            <button data-company='{{order.company.name}}' data-id={{order.id}} type="button" class="btn btn-raised btn-success sellButton">Sell</button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Pending</h3>
                </div>
                <div class="panel-body">
                    <table class="HistoryTable" data-classes="table table-hover" data-search="true" data-pagination="true" data-page-size=10>
                        <thead class="companytable">
                            <tr>
                              <th>#</th>
                                <th>Open Date</th>
                                <th>Share name</th>
                                <th>Take Profit</th>
                                <th>Stop Loss</th>
                                <th>Price</th>
                                <th>Type</th>
                                <th>Shares Amount</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in pending_orders %}
                                {% if user == order.user %}
                                    <tr>
                                        <td>{{ order.id }}</td>
                                        <td>{{ order.created_at|date:'Y-m-d H:i:s' }}</td>
                                        <td>{{ order.company.name }}</td>
                                        <td>{{ order.take_profit }}</td>
                                        <td>{{ order.stop_loss }}</td>
                                        <td>{{ order.price }}</td>
                                        <td>{{ order.order_type|lower }}</td>
                                        <td>{{ order.amount }}</td>
                                        <td>{{ order|totalamount }}</td>
                                        <td class="text-center">
                                            {% if user == order.user %}
                                                <button onclick="document.location='/order/cancel/?tid={{order.id}}'" type="button" class="btn btn-raised btn-success">Cancel</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="metrics">
    </div>

    {% if request.user.rightUser == 'std' %}
    <div id="buyShares" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Buy </h4>
          </div>

          <div class="modal-body">

            <form class="form-horizontal" id="buy_form" action="{% url 'cab:buyShares' %}" method="POST" role="form">{% csrf_token %}
                <input type="hidden" name="buyUrl" id="id_buyUrl" value="{% url 'cab:buyShares' %}" />
                <input type="hidden" name="sellUrl" id="id_sellUrl" value="{% url 'cab:sellShares' %}" />

                <!-- <legend id="CNSBSB">How many shares of the company "{{ user_company_name|title }}" do you want to buy?</legend> -->
                <legend id="CNSBB">How many shares of the company "{{ user_company_name|title }}" do you want to buy?</legend>
                <span id="error" style="color:red"></span>
                <div class="form-group">
                    <label class="control-label  " for="id_sharesAmount">Shares amount</label>
                    <div class=" ">
                        <input class="form-control" id="sharesAmount" min="1" name="sharesAmount" required="" step="1" type="number" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label  " for="id_sharePrice">Share price</label>
                    <div class=" ">
                        <input class="form-control" id="sharePrice" min="1" name="sharePrice" required="" step="1" type="number" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label  " for="id_profit">Take Profit *</label>
                    <div class=" ">
                        <input class="form-control" id="takeProfit" name="takeProfit"  step="1" type="number" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label  " for="id_stop">Stop Loss *</label>
                    <div class=" ">
                        <input class="form-control" id="stopLoss" name="stopLoss" step="1" type="number" value="0">
                    </div>
                </div>
                <label class="control-label  " for="id_stop">Optional *</label>
                <input type="hidden" name="company" id="id_companyPk_buy" value="" />
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-raised btn-success">Submit</button>
                    </div>
                </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    <div id="sellShares" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Sell </h4>
          </div>

          <div class="modal-body">
            <form class="form-horizontal" id="sell_form" action="{% url 'cab:sellShares' %}" method="POST" role="form">{% csrf_token %}
                <input type="hidden" name="buyUrl" id="id_buyUrl" value="{% url 'cab:buyShares' %}" />
                <input type="hidden" name="sellUrl" id="id_sellUrl" value="{% url 'cab:sellShares' %}" />
                <legend id="CNSBSBSell">How many shares of the company do you want to sell?</legend>
                <span id="sell_error" style="color:red"></span>
                <!-- <div id="error">error</div> -->
                <div class="form-group">
                    <label class="control-label  " for="id_sharesAmount">Shares amount</label>
                    <div class=" ">
                        <input class="form-control" id="sharesAmount" min="1" name="sharesAmount" required="" step="1" type="number" value="0">
                    </div>
                </div>

                <input type="hidden" name="company" id="id_companyPk_sell" value="" />
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-raised btn-success">Submit</button>

                    </div>
                </div>
            </form>
          </div>

        </div>
      </div>
    </div>


    {% if UserComp == True %}
        <div id="OpenCompanyBox" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Open Company</h4>
              </div>

              <div class="modal-body">
                <form class="form-horizontal" action="{% url 'cab:index' %}" method="POST" role="form">
                    {% csrf_token %}
                    {{ OpenCompanyForm|bootstrap }}
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-raised btn-success">Submit</button>
                        </div>
                    </div>
                    <div id="shares_sold_msg">
                  
                    </div>
                </form>
              </div>

            </div>
          </div>
        </div>
    {% endif %}

    {% endif %}

<script>

String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}
function sellShare(pk, companyname)
{
    $('#id_companyPk_sell').val(pk);
    $('#CNSBSBSell').html('How many shares of the company "'+companyname.capitalize()+'" do you want to sell?');
    // $('#sellShares form').attr('action', $('#id_sellUrl').val());
    $('#sellShares').modal('show');
}
$(document).ready(function () {
$('button').click(function(){
  $('#error').hide()
})
  $('.sellButton').click(function () {
    var id = $(this).data('id');
    var company = $(this).data('company');
    console.log(id);
    $('#id_companyPk_sell').val(id);
    $('#CNSBSBSell').html('How many shares of the company "'+company.capitalize()+'" do you want to sell?');
    // $('#sellShares form').attr('action', $('#id_sellUrl').val());
    $('#sellShares').modal('show');
  });
  $("#error").hide();
    var buy_order = $("#buy_form");
    var sell_order = $("#sell_form");
     buy_order.submit(function (event) {

         $.ajax({
           type: "POST",
           url: "{% url 'cab:buyShares' %}",
           data: buy_order.serialize(),
           success: function (data) {
             if (data['error'] == undefined) {
               $('#buyShares').modal('toggle');
               $("#error").hide();
window.location.href = "{% url 'cab:index' %}";

             } else {
             $("#error").show();
             $("#error").html(data['error']);
    
           }

           }

         });
         
event.preventDefault();
             return false;
     });
     sell_order.submit(function (event) {

         $.ajax({
           type: "POST",
           url: "{% url 'cab:sellShares' %}",
           data: sell_order.serialize(),
           success: function (data) {
             if (data['error'] == undefined) {
                $('#shares_sold_msg').html('<div style="text-align: center;"><h4 style="color:#4caf50;  margin:7px;padding:center">Shares sold successfully</h4></div>')
               $('#sellShares').modal('toggle');
window.location.href = "{% url 'cab:index' %}";
             } else {
             $("#sell_error").show();
             $("#sell_error").html(data['error']);

            // alert(data['error'])
              }
           }

         });
         event.preventDefault();
            return false;

     });
 });

</script>

{% endblock content %}
